.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.flug-container img{
    width: 120px;
    height: 70px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}
.flug-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap:1px
}